.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
  padding: 10px 60px;
  margin: 0%;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerContentItem {
  padding: 5px 30px;
  color: #ffffff;
  font-size: 30px;
  margin: 0%;
  justify-content: center;
}

.headerIcon {
  width: 60px;
  height: 60px;
}

.headerUserIcon {
  border-radius: 50%;
}
