.inputContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.inputText {
  padding: 13px;
  padding-right: 200px;
  font-size: 20px;
}

.AddButton {
  /* white-space: nowrap; */
  border-radius: 5px;
  padding: 10px 16px;
  margin-left: 13px;
  font-size: 15px;
}

.homeTodoTitle {
  text-align: center;
  font-size: 35px;
}